{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}
{% load post_tags %}
{#页面标题#}
{% block title %}
    蒋振飞的博客
{% endblock title %}

{% block nav_blog_active %}active{% endblock %}
{% block header_extend %}
    <!--其他-->
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block home_content %}

    <a href="#">
        <div class="home_content" style="background: url({% static 'blog/media/banner3.jpg' %});background-size: 100% 100%;">
            <div class="home_show">我的博客</div>
            <div class="word_info">坚持发表个人原创技术笔记</div>
            <div class="motto_name">—重新出发，志在未来</div>
        </div>
    </a>
    <a href="#">
        <div class="home_content" style="background: url({% static 'blog/media/banner5.jpg' %});background-size: 100% 100%;">
            <div class="home_show">我的博客</div>
            <div class="word_info">觉得有帮助，就打赏我吧</div>
            <div class="motto_name">—如果要挖井，就要挖到水出为止</div>
        </div>
    </a>
    <a href="#">
        <div class="home_content" style="background: url({% static 'blog/media/banner4.jpg' %});background-size: 100% 100%;">
            <div class="home_show">我的博客</div>
            <div class="word_info">欢迎阅读评论，喜欢就点个赞吧</div>
            <div class="motto_name">—光说不干，事事落空</div>
        </div>
    </a>
    <a href="#">
        <div class="home_content" style="background: url({% static 'blog/media/banner1.jpg' %});background-size: 100% 100%;">
            <div class="home_show">我的博客</div>
            <div class="word_info">欢迎来访，博主动态请查看公告</div>
            <div class="motto_name">—天行健，君子以自强不息</div>
        </div>
    </a>
    <a href="#">
        <div class="home_content" style="background: url({% static 'blog/media/banner2.jpg' %});background-size: 100% 100%;">
            <div class="home_show">我的博客</div>
            <div class="word_info">欢迎阅读评论，评论需注册登录</div>
            <div class="motto_name">—脚是大地上飞翔的翅膀</div>
        </div>
    </a>

{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 1em;margin-bottom: 1em">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9">

                <div class="blog-border">
                    {# post_list|length是一种过滤器,过滤的结果为post_list的长度 #}
                    {% for post in post_list %}
                        <div class="blog-item">
                            {# post.id把主键传递出去,在views中就可以找到该post的body,urls中也能规则匹配 #}
                            {# 在反向解析中,注意格式{% url 'namespace:name' para %} #}
                            <div class="blog-title">
                                <a href="{% url 'blog:detail' post.id %} " target="_Blank">{{ post.title }}</a>
                            </div>

                            <div class="blog-describe">{{ post.body|cut:'&nbsp;'|striptags|truncatechars:150|safe}}</div>

                            <div>
                                <div class="blog-tags">
                                    {# <span>中的是分类和时间logo样式 #}
                                    <span class="glyphicon glyphicon-time"></span>&nbsp;{{ post.created_time|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;

                                    <a href="{% url 'blog:category' post.category.id %}">
                                        <span class="glyphicon glyphicon-file"></span>{{ post.category }}
                                    </a>&nbsp;&nbsp;&nbsp;
                                    阅读：{{ post.get_read_num }}&nbsp;&nbsp;&nbsp;

                                    评论：{% get_comment_count post %}&nbsp;&nbsp;&nbsp;

                                    推荐：<a onclick="likeChange(this, '{% get_content_type post %}', {{ post.id }})">
                                        <span class="glyphicon glyphicon-thumbs-up {% get_like_status post %}"></span>
                                        <span class="liked-num">{% get_like_count post %}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="no-find">
                            暂无博客,敬请期待 !
                        </div>
                    {% endfor %}
                </div>

                <div class="paginator">
                    <ul class="pagination">
                        <li>
                            {# 上一页 #}
                            {% if page_of_list.has_previous %}
                                <a href="?page={{ page_of_list.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                        {# 全部页码 #}
                        {# {% for page_num in page_of_list.paginator.page_range %} #}
                        {# page_range在views中被处理成当前页数+-2的范围,目的是为了避免页码过于长 #}
                        {% for page_num in page_range %}
                            {# 判断是否当前页 #}
                            {% if page_num == page_of_list.number %}
                                {# 如果是当前页就设置active高亮 #}
                                <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                                <li>
                        {# 下一页 #}
                        {% if page_of_list.has_next %}
                            <a href="?page={{ page_of_list.next_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% else %}
                            <span aria-hidden="true">&raquo;</span>
                                </li>
                        {% endif %}
                    </ul>
                    <ul class="pagination">
                        <li id="page_goto"><span><input type="text" value="6"></span></li>
                        <li><a href="javascript:void(0);" onclick="page_jump();">Go</a></li>
                    </ul>
                    <p>
                        共有{{ page_of_list.paginator.count }}篇博客,
                        当前第{{ page_of_list.number }}页, 共{{ page_of_list.paginator.num_pages }}页
                    </p>
                </div>
            </div>

            <div class="hidden-xs col-sm-4 col-md-3 blog-border">
                <!--热门阅读-->
                <div class="side-list">
                    <h4><span class="glyphicon glyphicon-fire"></span>&nbsp;热门阅读</h4>
                    <ul>
                        {% for hot_data in all_hot_posts %}
                            <div class="light-item">
                                <a href="{% url 'blog:detail' hot_data.id %}" target="_Blank">{{ hot_data.title|striptags|truncatechars:30|safe }}</a>
                            </div>
                        {% empty %}
                            暂无总榜 !
                        {% endfor %}
                    </ul>
                </div>
                <!--随机推荐-->
                <div class="side-list">
                    <h4><span class="glyphicon glyphicon-random"></span>&nbsp;&nbsp;随机推荐</h4>
                    <ul>
                        {% for post in random_recommend %}
                            <li class="light-item">
                                <a href="{% url 'blog:detail' post.id %}" target="_Blank">{{ post.title }}</a>
                            </li>
                        {% empty %}
                            暂无推荐 !
                        {% endfor %}
                    </ul>
                </div>
                <!--最新推荐-->
                <div class="side-list">
                    <h4><span class="glyphicon glyphicon-time"></span>&nbsp;最新推荐</h4>
                    <ul>
                       {% for post in new_recommend %}
                            <li class="light-item">
                                <a href="{% url 'blog:detail' post.content_object.id %}" target="_Blank">{{ post.content_object.title }}</a>
                            </li>
                        {% empty %}
                            暂无推荐 ！
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}

{% block script_extends %}
    <!--点赞更新-->
    <script type="text/javascript">
        //点赞更新
        function likeChange(obj, content_type, object_id){
            var is_like = obj.getElementsByClassName('active').length == 0
            $.ajax({
                url: "{% url 'likes:like_change' %}",
                type: 'GET',
                data: {
                    content_type: content_type,
                    object_id: object_id,
                    is_like: is_like
                },
                cache: false,
                success: function(data){
                    console.log(data)
                    if(data['status']=='SUCCESS'){
                        // 更新点赞状态
                        var element = $(obj.getElementsByClassName('glyphicon'));
                        if(is_like){
                            element.addClass('active');
                        }else{
                            element.removeClass('active');
                        }
                         // 更新点赞数量
                        var liked_num = $(obj.getElementsByClassName('liked-num'));
                        liked_num.text(data['liked_num']);
                    }else{
                        if(data['code']==400){
                            window.location.href = '{% url 'user:login' %}';
                        }
                        else{
                            alert(data['message']);
                        }
                    }
                },
                error: function(xhr){
                    console.log(xhr)
                }
            });
        }
        // 翻页
        function page_goto(page){
            if(page==''){
                page = 1;
            }
            var reg = /page=\d{0,2}/;
            var url = window.location.href;

            //判断是否有参数
            if(reg.test(window.location.href)){
                url = url.replace(reg, 'page=' + page);
            }else if(url.indexOf("?") == -1){
                url = url + '?page=' + page;
            }else{
                url = url + '&page=' + page;
            }
            //重定向
            window.location.href = url;
        }
        function page_jump(){
            var page = $("#page_goto input[type=text]")[0].value;
            page_goto(page);
        }
    </script>
{% endblock %}
