{% extends 'base.html' %}
{% load post_tags %}
{% load staticfiles %}

{% block title %}
    博客分类
{% endblock title %}

{% block nav_blog_active %}{% endblock %}
{% block nav_category_active %}active{% endblock %}

{% block home_content %}

    <a href="#">
        <div class="home_content" style="background: url({% static 'blog/media/banner2.jpg' %});background-size: 100% 100%;">
            <div class="home_show">博客分类</div>
            <div class="word_info">欢迎阅读评论，喜欢就点个赞吧</div>
            <div class="motto_name">—光景不待人，须叟发成丝</div>
        </div>
    </a>
    <a href="#">
        <div class="home_content" style="background: url({% static 'blog/media/banner5.jpg' %});background-size: 100% 100%;">
            <div class="home_show">博客分类</div>
            <div class="word_info">坚持发表个人原创学习笔记</div>
            <div class="motto_name">—不可压倒一切，但也不能被一切压倒</div>
        </div>
    </a>
    <a href="#">
        <div class="home_content" style="background: url({% static 'blog/media/banner4.jpg' %});background-size: 100% 100%;">
            <div class="home_show">博客分类</div>
            <div class="word_info">觉得有帮助，就打赏我吧</div>
            <div class="motto_name">—真正的快乐来源于宽容和帮助</div>
        </div>
    </a>
     <a href="#">
        <div class="home_content" style="background: url({% static 'blog/media/banner1.jpg' %});background-size: 100% 100%;">
            <div class="home_show">博客分类</div>
            <div class="word_info">欢迎阅读评论，评论需注册登录</div>
            <div class="motto_name">—不怕路远，就怕志短</div>
        </div>
    </a>
    <a href="#">
        <div class="home_content" style="background: url({% static 'blog/media/banner3.jpg' %});background-size: 100% 100%;">
            <div class="home_show">博客分类</div>
            <div class="word_info">欢迎来访，博主动态请查看公告</div>
            <div class="motto_name">—一万年太久，只争朝夕</div>
        </div>
    </a>


{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 1em">

        <div class="category_list">目前共计{{ category_list.count }}个分类</div>

        <div class="row">
            {% for category in category_list %}
                {% get_category_post category as post_list %}
                <div class="col-sm-4">
                    <div class="category">

                        <h4>
                            <a href="{% url 'blog:category' category.pk %}"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;{{ category }}&nbsp;({% get_category_count category %})</a>
                        </h4>

                        <div>
                            {% for post in post_list %}
                                <div class="light-blog"><a href="{% url 'blog:detail' post.id %}" target="_Blank">{{ post }}</a></div>
                            {% empty %}
                                <h5>暂无博客</h5>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            {% empty %}
                <h3>暂无分类！</h3>
            {% endfor %}

        </div>

    </div>


{% endblock %}