{% extends 'base.html' %}
{% load post_tags %}
{% load staticfiles %}

{#页面标题#}
{% block title %}
    蒋振飞的博客
{% endblock title %}

{% block nav_date_active %}active{% endblock %}

{% block home_content %}

    <div id="lunbobox">
        <div id="toleft">
            &lt;
        </div>

        <div class="lunbo">
            <a href="#">
                <div class="home_content" style="background: url({% static 'blog/media/banner2.jpg' %});background-size: 100% 100%;">
                    <div class="home_show">我的归档</div>
                    <div class="word_info">坚持发表个人原创学习笔记</div>
                    <div class="motto_name">—勿谓寸阴短，既过难再获</div>
                </div>
            </a>
            <a href="#">
                <div class="home_content" style="background: url({% static 'blog/media/banner3.jpg' %});background-size: 100% 100%;">
                    <div class="home_show">我的归档</div>
                    <div class="word_info">觉得有帮助，就打赏我吧</div>
                    <div class="motto_name">—路的尽头，仍然是路</div>
                </div>
            </a>
            <a href="#">
                <div class="home_content" style="background: url({% static 'blog/media/banner4.jpg' %});background-size: 100% 100%;">
                    <div class="home_show">我的归档</div>
                    <div class="word_info">欢迎阅读评论，评论需注册登录</div>
                    <div class="motto_name">—不达成功誓不休</div>
                </div>
            </a>
            <a href="#">
                <div class="home_content" style="background: url({% static 'blog/media/banner1.jpg' %});background-size: 100% 100%;">
                    <div class="home_show">我的归档</div>
                    <div class="word_info">欢迎阅读评论，喜欢就点个赞吧</div>
                    <div class="motto_name">—世界是真的，付出都是值得的</div>
                </div>
            </a>
            <a href="#">
                <div class="home_content" style="background: url({% static 'blog/media/banner5.jpg' %});background-size: 100% 100%;">
                    <div class="home_show">我的归档</div>
                    <div class="word_info">欢迎来访，博主动态请查看公告</div>
                    <div class="motto_name">—留一份不足，可得无限美好</div>
                </div>
            </a>
        </div>

        <div id="toright">
            &gt;
        </div>

        <ul class="hidden-xs">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    <div class="container" style="margin-top: 1em">

        <div class="category_list">目前共计{{ post_count }}篇博文</div>

        <div class="row">

{% for post_date in date_list %}
    {% get_date_post post_date.year post_date.month as post_list %}

    <div class="col-xs-12 col-sm-4">
        <div class="category">
            <h4>
                <a href="{% url 'blog:date' post_date.year post_date.month %}" style="color: #333; font-weight: bold" >
                    <span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;{% get_date_to_month post_date %}&nbsp;({% get_date_count post_date.year post_date.month %})
                </a>
            </h4>

            <div>
                {% for post in post_list %}
                    <div class="light-blog">
                        <a href="{% url 'blog:detail' post.id %}" target="_Blank">{{ post }}</a>
                    </div>
                {% empty %}
                    <h5>暂无博客</h5>
                {% endfor %}
        </div>
    </div>
</div>
{% empty %}
    <h3>暂无分类！</h3>
{% endfor %}

        </div>
    </div>

{% endblock %}