{% extends 'base.html' %}
{% load post_tags %}

{#页面标题#}
{% block title %}
    日期归档
{% endblock title %}

{% block nav_date_active %}active{% endblock %}

{% block home_content %}
    <div class="home_content">
        <div class="home_show"><h1>我的归档</h1></div>
        <div class="motto_name">欢迎阅读评论，交个朋友吧</div>
        <div class="motto_name">—勿谓寸阴短，既过难再获</div>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="category_list">全部归档</div>
                {% for post_date in date_list %}
                    {% get_date_post post_date.year post_date.month as post_list %}
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4 col-lg-2">
                        <div class="panel panel-default category">

                            <div class="panel-heading category_name" id="panel_heading">
                                <a href="{% url 'blog:date' post_date.year post_date.month %}"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;{% get_date_to_month post_date %}&nbsp;({% get_date_to_post post_date.year post_date.month %})</a>
                            </div>

                            <div class="panel-body category_body">
                                {% for post in post_list %}
                                    <div><a href="{% url 'blog:detail' post.id %}">{{ post }}</a></div>
                                {% empty %}
                                    <h5>暂无博客</h5>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <h3>暂无分类！</h3>
                {% endfor %}
        </div>
    </div>

    <div class="box"></div>

{% endblock %}