pre {
    position: relative;
    padding: 0;
    /*margin-bottom: 24px;*/
    border-radius: 3px;
    border: 1px solid #C3CCD0;
    background: #FFF;
    overflow: hidden;
    font-size: 14px;
}
code {
    display: block;
    padding: 18px 24px;
    overflow-y: auto;
    font-weight: 300;
    font-family: Menlo, monospace;
    font-size: 14px;
}

code.has-numbering {
    margin-left: 30px;
}

.pre-numbering {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    padding: 8px 5px 5px 0;
    border-right: 1px solid #C3CCD0;
    border-radius: 3px 0 0 3px;
    background-color: #f5f5f5;
    text-align: right;
    font-family: Menlo, monospace;
    font-size: 14px;
    color: #8c8c8c;
}