.home_welcome{
    font-size: 2em;
    text-align: center;
    font-family: 'monospace';
    color: #2e6da4;
}

#container, #container2{
    height: 12em;
    min-width: 20em;
    max-width: 50em;
}

.content-item-more{
    font-size: 0.6em;
}


.home-nav{
    float: left;
    width: 40%;
    padding-top: 16px;
    padding-left: 0.5em;
    margin-right: 2em;
    /*margin-right: 0.5em;*/
}

.home-nav h4{
    width: 110%;
}

.home-block{
    /*border: 1px #ccc solid;*/
    border-radius: 6px;
    padding: 16px 1em 5px 1.5em;
    /*margin-bottom: 1em;*/
    margin-right: 2em;
}

.home-block-title {
    border-bottom: 1px #ccc solid;
    padding-bottom: 10px;
    font-weight: bold;
}

.list a{
    color: #333;
}


/* 清除浮动 */
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both;}
.clearfix{zoom:1}

/* 浮动 */
.fl{float:left}
.fr{float:right}

