.home_welcome{
    font-size: 2em;
    text-align: center;
}

#container, #container2{
    height: 12em;
    min-width: 20em;
    max-width: 50em;
}

.content-item-more{
    font-size: 0.6em;
}

.home-block{
    /*border: 1px #ccc solid;*/
    border-radius: 6px;
    padding: 16px 1em 5px 1.5em;
    margin-bottom: 1em;
}

.home-block-title {
    border-bottom: 1px #ccc solid;
    padding-bottom: 10px;
    font-weight: bold;
}

.list a{
    color: #333;
}

