{#{% load staticfiles  %}#}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--- the site is designed jzfblog.com 05/2018 --->
    <meta charset="UTF-8">
    {# 兼容IE浏览器#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {# 响应式布局#}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 百度收录标识 -->
    <meta name="baidu-site-verification" content="5RbnZ7cZ7F" />

    <!--网站信息-->
    <meta name="author" content="蒋振飞,XiaoFei-97@outlook.com">
    <meta name="keywords" content="蒋振飞,技术博客,原创">
    <meta name="description" content="蒋振飞的个人博客，坚持发表个人原创技术笔记">
    <title>{% block title %}{% endblock%}</title>
    <link type="text/css" rel="shortcut icon" href="{% static 'blog/media/favicon.ico' %}">

    <!--全局样式-->
    <link type="text/css" rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    <link type="text/css" rel="stylesheet" href={% static 'blog/css/myRewards.css' %}>

    <!--使用bootstrap框架-->
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'blog/js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>

    {# <link rel="stylesheet" href="{% static 'blog/css/prism.css' %}"> #}
    {# <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script> #}
    {% block header_extend %}{% endblock %}
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container_fluid">
            <div class="navbar-header">
                <!--网站logo-->
                <a class="navbar-brand" href="{% url 'blog:blog' %}">
                    <img src="{% static 'blog/media/logo.png' %}" alt="logo">
                </a>

                <!--下拉菜单-->
                <button class="navbar-toggle collapsed nav_bar" data-target="#navbar-collapse" data-toggle="collapse">
                    {# <span class="sr-only"></span> #}
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                </button>
            </div>
            <!--nav选项卡-->
            <div id="navbar-collapse" class="collapse navbar-collapse">
                 <ul class="nav navbar-nav base_head">
                     <!--首页-->
                     <li class="{% block nav_home_active %}{% endblock %}">
                         <a href="{% url 'blog:home' %}"><span class="glyphicon glyphicon-home item">首页</span></a>
                     </li>
                     <!--博客-->
                     <li class="{% block nav_blog_active %}{% endblock %}">
                         <a href="{% url 'blog:blog' %}"><span class="glyphicon glyphicon-pencil item">博客</span></a>
                     </li>
                     <!--分类-->
                     <li class="{% block nav_category_active %}{% endblock %}">
                         <a href="{% url 'blog:category' 1 %}"><span class="glyphicon glyphicon-file item">分类</span></a>
                     </li>
                     <!--归档-->
                     <li class="{% block nav_date_active %}{% endblock %}">
                         <a href="{% url 'blog:date' 2018 09 %}"><span class="glyphicon glyphicon-book item">归档</span></a>
                     </li>
                     <!--关于-->
                    <li class="{% block nav_about_active %}{% endblock %}">
                        <a href="{% url 'user:about' %}"><span class="glyphicon glyphicon-education item">关于</span></a>
                     </li>
                </ul>
                 <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <!--登录-->
                        <li class="{% block nav_login_active %}{% endblock %}">
                            <a class="item glyphicon hidden-sm" href="{% url 'user:login' %}?from={{ request.get_full_path }}">登录</a>
                        </li>
                        <!--注册-->
                        <li class="hidden-sm {% block nav_register_active %}{% endblock %}">
                            <a class="item glyphicon" href="{% url 'user:register' %}?from={{ request.get_full_path }}">注册</a>
                        </li>
                    {% else %}
                        <li class="dropdown hover">
                            <a href="#" class="dropdown-toggle hidden-sm" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-user item"></span>&nbsp;您好:&nbsp;{{ user.get_nickname_or_username }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'user:user_info' %}">用户中心</a></li>
                                <li><a href="{% url 'user:change_password' %}">修改密码</a></li>
                                {% if user.is_staff or user.is_superuser %}
                                    <li><a href="{% url 'xadmin:index' %}">后台管理</a></li>
                                {% endif %}
                                <li><a href="{% url 'user:logout' %}?from={{ request.get_full_path }}">退出</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <!--搜索框-->
                    <form method='get' class="navbar-form navbar-left" target="_blank" action="/search/" onsubmit="return check()">
                        <input type="text" name="q" class="form-control" placeholder="搜点啥?" id="find">
                        <button type="submit" class="btn btn-default" id="btn">
                            <span class="glyphicon glyphicon-search" style="line-height:1;"></span>
                        </button>
                    </form>
                </ul>
            </div>
        </div>
    </div>

    <!--轮播图-->
    {% block lunbobox %}
    <div id="lunbobox" style="margin-top: 60px">
        {# <div id="toleft"> #}
        {# &lt; #}
        {# </div> #}

        <div class="lunbo">
            {% block home_content %}{% endblock %}
        </div>

        {# <div id="toright"> #}
        {# &gt; #}
        {# </div> #}

        {# <ul class="hidden-xs"> #}
            {# <li></li> #}
            {# <li></li> #}
            {# <li></li> #}
            {# <li></li> #}
            {# <li></li> #}
        {# </ul>#}
    </div>
    {% endblock %}

    <!--页面内容-->
    {% block content %}{% endblock %}

    <!--页脚-->
    <div class="footer">
        <div class="website-info container">
            <div class="about">
                <h4>关于本站</h4>
                <p>1.基于Django+Bootstrap开发</p>
                <p>2.主要发表本人的技术笔记与随笔</p>
                <p>3.本站于2018-5-30开始建站</p>
            </div>
            <div class="response hidden-xs">
                <h4>建议反馈</h4>
                <p>1.欢迎注册评论</p>
                <p>2.可在相应的博文底下评论</p>
                <p>3.关注博主动态请查看公告</p>
            </div>
            <div class="contact hidden-xs hidden-sm">
                <h4 style="margin-bottom: 0;">微信公众号</h4>
                <img src="{% static 'blog/media/wechat.jpg' %}" style="width: 90px;height:85px;" alt="微信二维码">
            </div>
            <div class="tools hidden-xs hidden-sm hidden-md">
                <h4>在线工具</h4>
                <p><a href="https://www.djangoproject.com/" target="_blank">Django API文档</a></p>
                <p><a href="https://v3.bootcss.com/" target="_blank">BootStrap中文网</a></p>
                <p><a href="http://www.w3school.com.cn/" target="_blank">W3Shool</a></p>
            </div>
        </div>

        <div class="copyright">
            <div>&nbsp;&nbsp;&nbsp;© 蒋振飞的博客(JzfBlog.COM)&nbsp;&nbsp;
                <a class="hidden-xs hidden-sm" href="https://www.oschina.net/">开源中国社区</a>&nbsp;&nbsp;
                <a class="hidden-xs hidden-sm" href="https://www.aliyun.com/">阿里云服务器</a>&nbsp;&nbsp;
                <a class="hidden-xs hidden-sm hidden-md" href="https://tongji.baidu.com" target="_blank">站长工具-百度统计</a>
            </div>

            <div>
                <a href="http://www.miibeian.gov.cn/">赣ICP备18008471号-2</a>&nbsp;&nbsp;
                <span class="hidden-xs">Designed by 蒋振飞</span>
            </div>

        </div>
    </div>

    <!--蜘蛛丝效果-->
    <script color="160,32,240" opacity='0.6' zIndex="-2" count="50" src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>

    <!--轮播图配置-->
    <script>
        //轮播
        $(function() {
            //$("#toright").hide();
            //$("#toleft").hide();
            $('#toright').hover(function() {
                $("#toleft").hide()
            }, function() {
                $("#toleft").show()
            });
            $('#toleft').hover(function() {
                $("#toright").hide()
            }, function() {
                $("#toright").show()
            })
        });

        var t;
        var index = 0;
        //自动播放
        t = setInterval(play, 5000);

        function play() {
            index++;
            if (index > 4) {
                index = 0
            }
            //console.log(index)
            $("#lunbobox ul li").eq(index).css({
                "background": "#999",
                "border": "1px solid #ffffff"
            }).siblings().css({
                "background": "#cccccc",
                "border": ""
            });

            $(".lunbo a ").eq(index).fadeIn(2000).siblings().fadeOut(2000);
        };

        //点击鼠标 图片切换
        $("#lunbobox ul li").click(function() {

            //添加 移除样式
            //$(this).addClass("lito").siblings().removeClass("lito"); //给当前鼠标移动到的li增加样式 且其余兄弟元素移除样式   可以在样式中 用hover 来对li 实现
            $(this).css({
                "background": "#999",
                "border": "1px solid #ffffff"
            }).siblings().css({
                "background": "#cccccc"
            });
            var index = $(this).index(); //获取索引 图片索引与按钮的索引是一一对应的
            console.log(index);

            $(".lunbo a ").eq(index).fadeIn(2000).siblings().fadeOut(2000); //siblings  找到 兄弟节点(不包括自己）
        });

        //上一张、下一张切换
        $("#toleft").click(function() {
            index--;
            if (index < 0) //判断index<0的情况为：开始点击#toright  index=0时  再点击 #toleft 为负数了 会出错
            {
                index = 4
            }
            console.log(index);
            $("#lunbobox ul li").eq(index).css({
                "background": "#999",
                "border": "1px solid #ffffff"
            }).siblings().css({
                "background": "#cccccc"
            });

            $(".lunbo a ").eq(index).fadeIn(2000).siblings().fadeOut(2000); //siblings  找到 兄弟节点(不包括自己）必须要写
        }); //$("#imgbox a ")获取到的是一个数组集合 。所以可以用index来控制切换

        $("#toright").click(function() {
            index++;
            if (index > 4) {
                index = 0
            }
            console.log(index);
            $(this).css({
                "opacity": "0.5"
            });
            $("#lunbobox ul li").eq(index).css({
                "background": "#999",
                "border": "1px solid #ffffff"
            }).siblings().css({
                "background": "#cccccc"
            });
            $(".lunbo a ").eq(index).fadeIn(2000).siblings().fadeOut(2000); //siblings  找到 兄弟节点(不包括自己）
        });
        $("#toleft,#toright").hover(function() {
                $(this).css({
                    "color": "black"
                })
            },
            function() {
                $(this).css({
                    "opacity": "0.3",
                    "color": ""
                })
            });


        //鼠标移进  移出
        $("#lunbobox ul li,.lunbo a div,#toright,#toleft ").hover(
            //鼠标移进
            function() {
                $('#toright,#toleft').show();
                clearInterval(t);

            },
            //鼠标移开
            function() {
                //$('#toright,#toleft').hide()
                //alert('aaa')
                t = setInterval(play, 5000);

                function play() {
                    index++;
                    if (index > 4) {
                        index = 0
                    }
                    $("#lunbobox ul li").eq(index).css({
                        "background": "#999",
                        "border": "1px solid #ffffff"
                    }).siblings().css({
                        "background": "#cccccc"
                    });
                    $(".lunbo a ").eq(index).fadeIn(2000).siblings().fadeOut(2000);
                }
            });

        window.tctipConfig = {
        	//最上面的文字
            headText: "欢迎打赏支持我 ღ",
            //侧边栏文本
            siderText: "公告 & 打赏",
            //侧边栏文本高度调整
            siderTextTop: "-30px",
            //侧边栏背景颜色
            siderBgcolor: "#323d45",
            //整个侧边栏的高度设置可以px，em，或百分比
            siderTop:"118px",
            //底部文字
            buttomText:"了解更多",
            //底部文字链接
            buttomLink:"https://github.com/XiaoFei-97/tctip.git",

            /**
            list规定打赏的方式，list有几个元素，代表有几种打赏方式,最多五种。
            分别解释如下:

            key: 为一个英文,用户可随意定义

            icon:
                    左侧icon图标的url,可以传入相对路径，此时会根据imagePrefix或者staticPrefix进行路径修正。
                    如果传入绝对路径，则直接展示，不进行路径修正。
                    如果key是默认值，且用户没有传入icon,则使用系统自带icon。
            name:
                    支付方式的名称，用于左侧tab展示的说明。name可以使用系统默认值；如果没有系统默认值，则需要用户传入
            desc:
                    支付方式更纤细说明，用于二维码下方说明文字,建议不超过五个字。当desc为空的时候，系统使用默认值，如果没有默认值，则使用name字段

            text:
                    长文本内容（和qrimg不能同时使用，一般可用于写公告内容）
            qrimg:
                    当用户没有支付方式账号的时候，可以直接传入二维码图片；比如用户可以上传微信面对面收钱的二维码图片到服务器，然后将图片的url作为qrimg字段传入。此时二维码下方只展示desc字段，不展示account.
                    当用户同时传入qrimg和accounts时候，以qrimg为准。

            className:
                    className可以为空，或者传入myR-on；默认显示项。
        	**/
            list:{
            notice: {icon: "{% static 'blog/media/tip.png' %}", name:"公告栏", className:"myR-on", text: '<p style="text-indent:1em;">个别浏览器对博文代码空格样式不兼容，导致代码缩进过宽的bug已解决，现已更换谷歌代码高亮插件，代码清晰易读</p><p style="text-align:right;">2018-08-27</p>'},
                alipay: {icon: "{% static 'blog/media/alipay.png' %}", name:"支付宝", desc: '用支付宝给"振飞"打赏\n感谢支持！', qrimg: "{% static 'blog/media/alipay.jpg' %}"},
                weixin: {icon: "{% static 'blog/media/weixin.png' %}", name:"微信", desc: '用微信给"振飞"打赏\n感谢支持！', qrimg: "{% static 'blog/media/wepay.png' %}"}
            }
        };

        //百度统计
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d630f1fe6530178a71dcc21149c6e6bf";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!--公告侧边栏-->
    <script src="{% static 'blog/js/tctip.min.js' %}"></script>

    <!--检查搜索框-->
    <script type="text/javascript">

        function check() {
            var find = $("#find").val();

            if(find == null || find == ""){
                //alert("搜索内容不能为空！");
                window.location.href = '/';
                return false;
            }

            return true;
        }

    </script>

    {% block script_extends %}{% endblock %}
</body>

</html>