{% extends 'base.html' %}
{% load staticfiles %}
{% load post_tags %}

{% block title %}
    蒋振飞的博客|关注互联网IT技术
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block home_content %}
    <div class="home_content">
        <div class="home_show">Jzf Blog</div>
        <div class="motto_name">坚持发表原创个人学习笔记</div>
        <div class="motto_name">蒋振飞的博客</div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <h3>
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span>博客</span>
                    <span class="content-item-more">
                        共{{ post_count }}篇博客
                        <a href="/blog/">更多<span class="glyphicon glyphicon-chevron-right"></span></a>
                    </span>
                </h3>
                <div class="home-block">
                    <h4 class="home-block-title">博客分类</h4>
                    <ul class="list">
                        {% for category in category_list %}
                            <li class="light-item">
                                <a href="{% url 'blog:category' category.id %}">{{ category }}</a>&nbsp;({% get_category_count category %})
                            </li>
                        {% empty %}
                            暂无分类
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <h3 class="home_welcome">欢迎来访</h3>
                <!-- 图表容器 DOM -->
                <div id="container"></div>
                <div id="container2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
               <div class="home-block">
                    <h4 class="home-block-title">最新发表</h4>
                    <ul class="list">
                        {% for post in new_publish %}
                            <li class="light-item">
                                <a href="{% url 'blog:detail' post.id %}">{{ post }}</a>
                            </li>
                        {% empty %}
                            暂无发表
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
               <div class="home-block">
                    <h4 class="home-block-title">最新推荐</h4>
                    <ul class="list">
                        {% for post in new_recommend %}
                            <li class="light-item">
                                <a href="{% url 'blog:detail' post.content_object.id %}">{{ post.content_object.title }}</a>
                            </li>
                        {% empty %}
                            暂无推荐
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
               <div class="home-block">
                    <h4 class="home-block-title">随机推荐</h4>
                    <ul class="list">
                        {% get_random_recomment as random_list%}
                        {% for post in random_list %}
                            <li class="light-item">
                                <a href="{% url 'blog:detail' post.id %}">{{ post }}</a>
                            </li>
                        {% empty %}
                            暂无推荐
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <h3 class="content-item-title">
            <span class="glyphicon glyphicon-fire"></span>
            <span>热读榜</span>
        </h3>

        <div class="row">
            <div class="col-sm-4">
               <div class="home-block">
                    <h4 class="home-block-title">周榜</h4>
                    <ul class="list">
                        {% for post in last_7_days_hot_data %}
                            <li class="light-item">
                                <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a>
                            </li>
                        {% empty %}
                            暂无周榜
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
               <div class="home-block">
                    <h4 class="home-block-title">月榜</h4>
                    <ul class="list">
                        {% for post in last_30_days_hot_data %}
                            <li class="light-item">
                                <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a>
                            </li>
                        {% empty %}
                            暂无月榜
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
               <div class="home-block">
                    <h4 class="home-block-title">总榜</h4>
                    <ul class="list">
                        {% for post in all_hot_posts %}
                            <li class="light-item">
                                <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a>
                            </li>
                        {% empty %}
                            暂无总榜
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>





{% endblock %}
{% block script_extends %}
     <script>
        // 图表配置
        var options1 = {
            chart: { type: 'line' },   //指定图表的类型，默认是折线图（line）
            title: { text: null },     // 标题
            xAxis: {
                categories: {{ seven_dates|safe }},  // x 轴分类
                tickmarkPlacement: 'on',
                title: { text: '过去七日阅读量变化' }
            },

            yAxis: {
                title: { text: null }, // y 轴标题
                labels:{ enabled:false },
                gridLineDashStyle: 'Dash',  // 刻度线对齐方式
            },

            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ seven_read_nums }}                     // 数据
            }],

            plotOptions:{
                line:{
                    dataLabels: {
                        enabled: true
                    }
                }
            },

            legend:{ enabled: false },     //消除图例
            credits: { enabled:false },     //消去版权信息
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options1);

        var options2 = {
            chart: { type: 'line' },   //指定图表的类型，默认是折线图（line）
            title: { text: null },     // 标题
            xAxis: {
                categories: {{ thirty_dates|safe }},  // x 轴分类
                tickmarkPlacement: 'on',
                title: { text: {{ year }}+'年阅读量变化'}
            },

            yAxis: {
                title: { text: null }, // y 轴标题
                labels:{ enabled:false },
                gridLineDashStyle: 'Dash',  // 刻度线对齐方式
            },

            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ thirty_read_nums }}                     // 数据
            }],

            plotOptions:{
                line:{
                    dataLabels: {
                        enabled: true
                    }
                }
            },

            legend:{ enabled: false },     //消除图例
            credits: { enabled:false },     //消去版权信息
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container2', options2);
    </script>
{% endblock %}