{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    蒋振飞的博客|关注互联网IT技术
{% endblock %}

{% block header_extend %}
    <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block home_content %}
    <div class="home_content">
        <div class="home_show"><h1>Jzf Blog</h1></div>
        <div class="motto_name">坚持发表原创个人学习笔记</div>
        <div class="motto_name">蒋振飞的博客</div>
    </div>
{% endblock %}

{% block content %}

        <h3 class="home_welcome">欢迎注册评论</h3>
        <!-- 图表容器 DOM -->
        <div id="container"></div>
        <div id="container2"></div>
        <div class="today_yesterday">
            <div class="row">
                <div class="col-xs-12">
                    {#    今日热门博客#}
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading" id="panel_heading">今日热门博客</div>
                            <!-- List group -->
                        <ul class="list-group">
                            {% for hot_data in today_hot_data %}
                                <li  class="list-group-item">
                                    <a href="{% url 'blog:detail' hot_data.content_object.id %}">{{ hot_data.content_object.title }}&nbsp;({{ hot_data.read_num }})</a>
                                </li>
                            {% empty %}
                                <li>今日暂时没有热门博客</li>
                            {% endfor %}
                        </ul>
                    </div>
                     {#    昨日热门博客#}
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading" id="panel_heading">昨日热门博客</div>
                        <!-- List group -->
                        <ul class="list-group">
                            {% for hot_data in yesterday_hot_data %}
                                <li class="list-group-item">
                                    <a href="{% url 'blog:detail' hot_data.content_object.id %}">{{ hot_data.content_object.title }}&nbsp;({{ hot_data.read_num }})</a>
                                </li>
                            {% empty %}
                                <li>昨日暂时没有热门博客</li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="week_month">
            <div class="row">
                <div class="col-xs-12">
                    {#七天内热门博客#}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="panel_heading">七日热门博客</div>
                        <ul class="list-group">
                            {% for hot_data in last_7_days_hot_data %}
                                <li class="list-group-item">
                                    <a href="{% url 'blog:detail' hot_data.id %}">{{ hot_data.title }}&nbsp;({{ hot_data.read_num_sum }})</a>
                                </li>
                            {% empty %}
                                <li>七日内暂时没有热门博客</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {#三十天内热门博客#}
                    <div class="panel panel-default"><!-- Default panel contents -->
                        <div class="panel-heading" id="panel_heading">三十日热门博客</div>
                            <!-- List group -->
                        <ul class="list-group">
                            {% for hot_data in last_30_days_hot_data %}
                                <li class="list-group-item">
                                    <a href="{% url 'blog:detail' hot_data.id %}">{{ hot_data.title }}&nbsp;({{ hot_data.read_num_sum }})</a>
                                </li>
                            {% empty %}
                                <li>三十日内暂时没有热门博客</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    <script>
        // 图表配置
        var options1 = {
            chart: { type: 'line' },   //指定图表的类型，默认是折线图（line）
            title: { text: null },     // 标题
            xAxis: {
                categories: {{ seven_dates|safe }},  // x 轴分类
                tickmarkPlacement: 'on',
                title: { text: '过去七日阅读量变化' }
            },

            yAxis: {
                title: { text: null }, // y 轴标题
                labels:{ enabled:false },
                gridLineDashStyle: 'Dash',  // 刻度线对齐方式
            },

            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ seven_read_nums }}                     // 数据
            }],

            plotOptions:{
                line:{
                    dataLabels: {
                        enabled: true
                    }
                }
            },

            legend:{ enabled: false },     //消除图例
            credits: { enabled:false },     //消去版权信息
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options1);

        var options2 = {
            chart: { type: 'line' },   //指定图表的类型，默认是折线图（line）
            title: { text: null },     // 标题
            xAxis: {
                categories: {{ thirty_dates|safe }},  // x 轴分类
                tickmarkPlacement: 'on',
                title: { text: {{ year }}+'年阅读量变化'}
            },

            yAxis: {
                title: { text: null }, // y 轴标题
                labels:{ enabled:false },
                gridLineDashStyle: 'Dash',  // 刻度线对齐方式
            },

            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ thirty_read_nums }}                     // 数据
            }],

            plotOptions:{
                line:{
                    dataLabels: {
                        enabled: true
                    }
                }
            },

            legend:{ enabled: false },     //消除图例
            credits: { enabled:false },     //消去版权信息
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container2', options2);
    </script>
{% endblock %}